{% extends 'newsfeed_base.html' %}
{% load static %}


{% block newsfeed %}
<style>
    * {
        color: black;
    }
</style>





    <div class="row" style="position: relative;width: 100%;left: 265px;top: 115px;">
        <div class="col" style="padding: 25px 20px;">
            <div class="card border-black border rounded shadow-lg"
                style="position: relative;width: 1200px;margin: 10px;top:20px;margin-left: 45px;background-color: #f2f3f4 ;">

                <div class="card-body" style="width: 100%;padding: 0px;">



                    <div class="container card-top">
                        <div class="row">
                            <div class="col-0">
                                <img src="https://images.hdqwalls.com/download/windows-xp-bliss-4k-lu-2048x1152.jpg"
                                    class="card-profile-photo" />
                            </div>
                            <div class="col-6">
                                <span class="card-top-text"> Nice Windows </span>
                            </div>
                            <div class="col">
                                <span class="card-top-text-time">21-11-1999 22:00:00 </span>
                            </div>
                        </div>
                    </div>



                    <hr style="border-top: 2.5px solid gray;width:98%">


                    <!-- Body of the card
    1.Title and options
    2.Experience
    3.Questions
-->
                    <div class="container">
                        <div class="container col-lg">
                            <!--<h3>Unisys Company Interview </h3>-->

                            <table align="left" cellpadding="10px" cellspacing="10px" width="100%">
                                <tr>
                                    <td>Job Title</td>
                                    <td>Software Enginer</td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td>Unisys</td>
                                </tr>

                                <tr>
                                    <td>Difiiculty</td>
                                    <td>Average</td>
                                </tr>

                            </table>




                        </div>

                        <div class="container" style="margin-top: 20px">
                            <h5>Experience</h5>
                            <p>
                                Called out of the blue, asked if I'd be interested in interviewing. Still not entirely
                                sure how they got my name. Had first phone interview the next week, asked no personal
                                questions, all technical in nature. Total of 3 phone interviews and an in-person trip
                                out to Seattle.

                                Took about 4 months start to finish. The people in the in person interview were
                                wonderful. Very smart, laid back, and understanding. Got lunch, small tour of campus,
                                and learned what I'd be doing. Got the offer 2 business days after the in person
                                interview.
                            </p>
                            <br>

                            <h5>Questions</h5>
                            <ul>
                                <li>Tell Me about your self</li>
                                <li>Tell Me about your wife</li>
                                <li>Tell Me about your life</li>
                                <li>Tell Me about your Rife</li>
                            </ul>

                        </div>


                    </div>

                    <hr style="border-top: 2.5px solid gray;width:98%">
                    <div class="container col-md" style="margin-left:60px">

                        <button type="button" class="btn btn-primary btn-md"
                            style="width:90%; float:center">Comment</button>

                    </div>
                    <br>
                </div>
            </div>
        </div>




    


    {% endblock newsfeed %}