{% extends 'newsfeed_base.html' %}
{% load static %}
{% load newsfeed_extras %}

{% block newsfeed %}



<div class="row" style="position: relative;width: 70%;margin-left:365px;top: 115px;">

    <div class="col" style="padding: 25px 20px;">


        {% for post in posts %}

        <div class="card border-black border rounded shadow" style="margin-bottom: 30px;">
            <div class="card-header">
                <div class="container card-top">
                    <div class="row">

                        <div class="col-1">
                            <img src="{{post.user.profile_pic.url}}" class="card-profile-photo" />
                        </div>
                        <div class="col-6">
                            <span class="card-top-text"> {{post.user.name}} </span>
                        </div>
                        <div class="col-4">
                            <span class="card-top-text-time">{{post.time}} </span>
                        </div>
                        <div class="col-1">

                            <a class="star-container" onclick="star_post(this,{{post.id}})">

                                <span class="fa fa-star {{post.favouritepost_set.all | is_starred:user_name}}"></span>

                            </a>

                        </div>

                    </div>

                </div>
            </div>

            <div class="card-body">
                <div class="container">
                    <div class="container col-lg">

                        <table class="table post_container">
                            <tr>
                                <td class="key">Job Title</td>
                                <td class="value">{{post.job_title}}</td>

                            </tr>
                            <tr>
                                <td class="key">Company</td>
                                <td class="value">{{post.company}}</td>
                            </tr>
                            <tr>
                                <td class="key">Difiiculty</td>
                                <td class="value">{{post.difficulty}}</td>
                            </tr>

                            <tr>
                                <td class="key">Experience</td>
                                <td class="value">
                                        {{ post.experience}}
                                </td>
                            </tr>
                            <tr>
                                <td class="key">Questions</td>
                                <td class="value">
                                    <ul style="list-style: none;">
                                        {% for question in post.questions %}
                                        <li>{{forloop.counter}}) {{question}} ?</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>


                        </table>




                    </div>

                </div>


            </div>

            <div class="card-footer">

                <div class="all-comments" id="all-comment-container-{{ forloop.counter }}">
                    {% for comment in post.comment_set.all%}

                    <div class="row card comment-card">
                        <div class="col-5 comment-user">
                            <img class="card-profile-photo" src="{{ comment.user.profile_pic.url }}" alt="">
                            <span>{{comment.user.name}}</span>

                        </div>
                        <div class="col-5 comment-user-comment">
                            <span>{{ comment.comment}}</span>
                        </div>


                    </div>
                    {% endfor %}

                </div>

                <div class="row" style="padding: 5px 0px;margin-top: 25px;">
                    <div class="col-1">
                        <img src="{{post.user.profile_pic.url}}" style="width: 25px;height: 25px"
                            class="card-profile-photo" />
                    </div>

                    <div class="col-6">
                        <input type="text" style="width:100%;" id="comment-input-{{forloop.counter}}">

                    </div>
                    <div class="col-5">
                        <button type="button" class="btn btn-primary btn-sm"
                            style="width:100%;font-weight: bold; float:center"
                            onclick="send_comment({{ forloop.counter }},{{post.id}})">Comment</button>
                    </div>

                </div>
            </div>


        </div>


        {% endfor %}


    </div>

</div>


{% endblock newsfeed %}

<!--                    -->