{% extends 'newsfeed_base.html' %}
{% load static %}
{% load newsfeed_extras %}

{% block newsfeed %}
<style>
    * {
        color: black;
    }
    .checked {
  color: orange;
}
</style>





<div class="row" style="position: relative;width: 70%;margin-left:365px;top: 115px;">

    <div class="col" style="padding: 25px 20px;">


        {% for post in fav_posts %}

        <div class="card border-black border rounded shadow" style="margin-bottom: 30px;">
            <div class="card-header">
                <div class="container card-top">
                    <div class="row">

                        <div class="col-1">
                            <img src="{{post.user.profile_pic.url}}" class="card-profile-photo" />
                        </div>
                        <div class="col-6">
                            <span class="card-top-text"> {{post.user.name}} </span>
                        </div>
                        <div class="col-4">
                            <span class="card-top-text-time">{{post.date}} </span>
                        </div>
                        <div class="col-1">

                            <a href="#" class="star-container" onclick="star_post(this,{{post.id}})">
                                
                                <span class="fa fa-star {{post.favouritepost_set.all | is_starred:user_name}}"></span>

                            </a>

                        </div>

                    </div>

                </div>
            </div>

            <div class="card-body">
                <div class="container">
                    <div class="container col-lg">
                        <table align="left" cellpadding="10px" cellspacing="10px" width="100%">
                            <tr>
                                <td id="title"><b>Job Title : </b> {{ post.job_title}}</td>
                            </tr>
                            <tr>
                                <td id="company"><b>Company : </b> {{ post.company}}</td>

                            </tr>

                            <tr>
                                <td id="difficulty"><b>Difiiculty : </b> {{ post.difficulty}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="container" style="margin-top: 20px">
                        <h6 id="experience"><b>Experience : </b>
                            <p>
                                {{ post.experience}}
                            </p>




                        </h6>

                        <h6 id="questions"><b>Questions:</b></h6>
                        <ul>
                            {% for question in post.questions %}
                            <li> {{question}} ?</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>

            <div class="card-footer">

                <div class="all-comments" id="all-comment-container">
                    {% for comment in post.comment_set.all%}
                      
                    <div class="row card comment-card">
                        <div class="col-5 comment-user">
                            <img class="card-profile-photo" src="{{ comment.user.profile_pic.url }}" alt="">
                            <span>{{comment.user.name}}</span>

                        </div>
                        <div class="col-5 comment-user-comment">
                            <span>{{ comment.comment}}</span>
                        </div>


                    </div>
                    {% endfor %}

                </div>

                <div class="row" style="padding: 5px 0px;">
                    <div class="col-1">
                        <img src="{{post.user.profile_pic.url}}" style="width: 25px;height: 25px"
                            class="card-profile-photo" />
                    </div>

                        <div class="col-6">
                            <input type="text" style="width:100%;"
                                id="comment">

                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-primary btn-sm"
                                style="width:100%;font-weight: bold; float:center" onclick="send_comment({{post.id}})">Comment</button>
                        </div>

                </div>
            </div>


        </div>


        {% endfor %}


    </div>

</div>


{% endblock newsfeed %}

<!--                    -->